body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Üst Kısım (Header) */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #696969; 
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  header div {
    flex-grow: 1;
    text-align: center;
  }

  nav {
    display: flex;
    gap: 25px; /* Boşluk arttırıldı */
  }

  nav a {
    text-decoration: none;
    color: #b77272;
    font-size: 20px;
  }

  nav a:hover {
    text-decoration: underline; 
  }

  /* İçerik Alanı */
  main {
    padding: 20px;
    text-align: center;
  }

  #rotalar-main {
    padding: 20px;
    text-align: left; /* Sola yaslı içerik */
    background-color: #f9f9f9; /* Hafif gri arka plan */
    border-left: 4px solid #696969; /* Sol tarafa çizgi ekler */
    line-height: 1.6; /* Satır aralığı */
  }
