body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Üst Kısım (Header) */
  header {
    background-color: #696969; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  /* İçerik Alanı */
  main {
    padding: 20px;
    text-align: center;
  }


  /* Footer */
  footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
  }

